.promo-box-small,
.promo-box-large {
	border: solid 0.25em #000000;
	padding: 1em;
	margin: 1em;
}

.promo-box-large h1 {
	color: #FFFFFF;
	background-color: #AEEEFF;
	text-align: center;
	padding: 0.5em;
	font-weight: 100;
}

.promo-box-small h1 {
	background-color: #000000;
	color: #FFFFFF;
	text-align: center;
	padding: 0.5em;
	font-weight: 100;
}

p {
	font-size: 0.875em;
	padding-left: 0;
}