# Accessibility Testing Report

User testing was conducted by {Katie Situ } on {April 2 2014} between the times of {4:05PM} and {5:00PM} with the following participants:

- {Pedro Santos}
- {Amanda Sparks}
- {Anita Chanthavong}
- {Melissa Roy}
- {Rebecca Cole}
- {Thalia Bacilio}

## Tasks

1. {Find the last fact about the company}
2. {Use the search field}
3. {Purchase the 'CANVAS BACKPACK'}

---

## Individual Results & Observations

### {Pedro Santos}

- {He completed the tasks quickly and easily}
- {No issues with navigating}

### {Amanda Sparks}

- {She completed the tasks easily}
- {No issues with navigating or finding anything}
- {Voiceover can be a bit confusing}

### {Anita Chanthavong}

- {She completed the tasks}

### {Melissa Roy}

- {She completed the tasks quickly and easily}
- {Simple and quick navigation}
- {She had no issues}

### {Rebecca Cole}

- {She completed the tasks quickly and easily}
- {She had no issues}

### {Thalia Bacilio }

- {She navigated easily through each task}
- {Slight confusion of finding the canvas backpack due to large header}

---

## Trends

### Critical, Needs Fixing, Unable to Complete

- {None}

### Serious, Causes Frustration, May Hinder Completion

- {None}

### Minor, Annoying, Won’t Hinder Completion

- {Large/tall header makes the product results hard to see below it}