---
layout: default
title: HOME
bannertext: WELCOME TO BLVCK NINJVS
showbanner: yes
---

<div class="promo-box-large grid">
	<h1>SALE OF THE WEEK</h1>
	<div class="gutter unit unit-s-1 unit-m-1 unit-l-1-2">
		{% include promo-small.html title="NINJV X" desc="LIMITED EDITION BLVCK TEE" image="products/black-shirt.jpg" %}
		
		<a class="btn micro" href="#">ADD TO CART</a>
	</div>
	<div class="gutter unit unit-s-1 unit-m-1 unit-l-1-2">
		{% include promo-small.html title="STUD CAP" desc="STUDDED SNAPBACK" image="products/snapback.jpg"%}
		
		<a class="btn micro" href="#">ADD TO CART</a>
	</div>
</div>
		
<div class="grid promo-box-small">
	<div class="gutter unit unit-s-1 unit-m-1-3 unit-l-1-3">
		{% include promo-small.html title="NINJV X" desc="LIMITED EDITION BLVCK TEE" image="products/black-shirt.jpg" %}
		
		<a class="btn micro" href="#">ADD TO CART</a>
	</div>
	<div class="gutter unit unit-s-1 unit-m-1-3 unit-l-1-3">
		{% include promo-small.html title="STUD CAP" desc="STUDDED SNAPBACK" image="products/snapback.jpg"%}
		
		<a class="btn micro" href="#">ADD TO CART</a>
	</div>
	<div class="gutter unit unit-s-1 unit-m-1-3 unit-l-1-3">
		{% include promo-small.html title="TRAVEL X" desc="CANVAS BACKPACK" image="products/backpack.jpg"%}
		<a class="btn micro" href="#">ADD TO CART</a>
	</div>
</div>
		
		