# Accessibility Testing Report

User testing was conducted by {Katie Situ } on {April 2 2014} between the times of {3:05PM} and {end time} with the following participants:

- {Pedro Santos}
- {John Doe}
- {Jordan Doe}
- {Theresa Doe}
- {Todd Doe}
- {Taylor Doe}

## Tasks

1. {Find the last fact about the company}
2. {Find the related products on any of the products}
3. {Purchase the 'CANVAS BACKPACK'}

---

## Individual Results & Observations

### {Jane Doe}

- {She completed the task as expected…}
- {She had troubles completing a specific task…}
- etc.

### {John Doe}

- {He completed the task as expected…}
- {He had troubles completing a specific task…}
- etc.

### {Jordan Doe}

- {They completed the task as expected…}
- {They had troubles completing a specific task…}
- etc.

### {Theresa Doe}

- {She completed the task as expected…}
- {She had troubles completing a specific task…}
- etc.

### {Todd Doe}

- {He completed the task as expected…}
- {He had troubles completing a specific task…}
- etc.

### {Taylor Doe}

- {They completed the task as expected…}
- {They had troubles completing a specific task…}
- etc.

---

## Trends

### Critical, Needs Fixing, Unable to Complete

- {All participants had this problem…}
- etc.

### Serious, Causes Frustration, May Hinder Completion

- {Two of the participants succeeded where one of them failed…}
- etc.

### Minor, Annoying, Won’t Hinder Completion

- {Participants pointed out this inconsistency…}
- etc.