# User Testing Report

User testing was conducted by {Katie Situ} on {March 26 2014} between the times of {3:15PM} and {end 3:40PM} with the following participants:

- {Amanda Sparks}
- {Pedro Santos}
- {Anita Chanthavong}

## Tasks

1. {Locate: Skull Backpack}
2. {Search anything & Purchase}
3. {Find information about the company}

---

## Individual Results & Observations

### {Amanda Sparks}

- {Clicked through website easily}
- {Preferred the Checkout button to be at the top}
- {Found the Checkout page needed a title at the top}
- {Easy navigation}

### {Pedro Santos}

- {Clicked through website easily}
- {Easy to find products}
- {Easy navigation}


### {Anita Chanthavong}

- {Clicked through website easily}
- {Preferred smaller images}
- {Easy navigation}
- {Fix placement of buttons}
- {Have search engine on all pages}

---

## Trends

### Critical, Needs Fixing, Unable to Complete

- {Nothing}

### Serious, Causes Frustration, May Hinder Completion

- {Move title to top on the product details/checkout page}
- {Move checkout button to the top}

### Minor, Annoying, Won’t Hinder Completion

- {Oversized Images}
- {Make sure to have Buy Now button on ALL pages}
- {Add search engine on all pages}