.btn,
.btn:link,
.btn:visited {
	display: inline-block;
	padding: 0.75em 1em;
	background-color: #FFFFFF;
	color: #000000;
	font-weight: bold;
	border: solid 0.5rem #000000;
	border-radius: 5px;
	box-shadow: 1px 1px 1px 1px #AAAAAA;
	font-weight: 500;
}

.btn:hover {
	border: solid 0.5rem #AEEEFF;
}

.btn-alt,
.btn-alt:link,
.btn-alt:visited {
	background-image: linear-gradient(to bottom, #AEEEFF, #FFFFFF);
	border-radius: 10px;
	border: solid .25rem #000000;
	box-shadow: 1px 1px 1px 1px #AAAAAA;
}

.btn-alt:hover {
	border: #000000;
}

h3 {
	color: #A7A6A6;
}

.checkout {
	margin: 2rem 0;
	text-align: center;
}