---
layout: default
title: Products
---

<nav>
	<ul>
		<li><a class="{% if page.url contains 'tees' %}current{% endif %}"href="{{site.baseurl}}/products"><img src="{{site.baseurl}}/images/products/all.jpg" alt=""></a></li>
		<li><a class="{% if page.url contains 'backpacks' %}current{% endif %}"href="{{site.baseurl}}/products/tees"><img src="{{site.baseurl}}/images/products/tees.jpg" alt=""></a></li>
	</ul>
</nav>
			
<div class="grid">
	<div class="unit unit-s-1 unit-m-1-2 unit-l-1-3">
		<h1>BACKPACKS</h1>
	</div>
	<div class="unit unit-s-1 unit-m-1-2 unit-l-2-3">
		<p></p>
	</div>
</div>

<ul>
	{% for product in site.pages %}
		{% if product.item == 'backpacks' %}
			{{product.name}}
			<li>
				<a href="{{site.baseurl}}{{product.url}}">
					<img src="{{site.baseurl}}/images/{{product.image}}" alt="BACKPACKS">
				</a>
			</li>
		{% endif %}
	{% endfor %}
</ul>


